@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.aboutBanner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://i.ibb.co/7jjVb49/about-us.jpg");
  height: "300px";
  width: "100%";
  background-repeat: "no-repeat";
  background-position: "center";
  background-attachment: "fixed";
  background-size: "cover";
  /* zIndex: -5, */
}
